# Задача 1

* загрузите данные из приложенного файла user_content_view.zip с помощью pandas
* выведите первые 5 строк приложенного файла

In [79]:
# --- ВАШ КОД ТУТ ---
import pandas as pd
frame = pd.read_csv('user_content_view.zip', nrows=5)
frame
# -------------------

   user_id_for_mai  content_id subsite_title   timestamp         event_name
0       5040403560       83395       xboxOne  1559347747  poster_impression
1       5040403560       88279       xboxOne  1559347913  poster_impression
2       5040403236      190669       xboxOne  1559347933  poster_impression
3       5040403236      170240       xboxOne  1559348020  poster_impression
4       5040403236      213690       xboxOne  1559348075  poster_impression

# Задача 2

* какие значения встречаются в поле `event_name` ? 
* колько строк каждого значения присутствуют в таблице (тут что-то вроде group by)

In [25]:
# --- ВАШ КОД ТУТ ---
event_name_columns = frame['event_name'].value_counts().rename_axis('event_name').reset_index(name='Amount')
event_name_columns
# -------------------

          event_name  Amount
0      content_watch  424250
1  poster_impression  377096

# Задача 3

поле `timetamp` - это EpochTime в секундах. Добавьте новую колонку `date`, в которой приведите `timemstamp` к строке вида `YYYY-MM-DD` (то есть к стандартному виду даты)

In [84]:
# --- ВАШ КОД ТУТ ---
frame = pd.read_csv('user_content_view.zip')
frame['date'] = pd.to_datetime(frame['timestamp'], unit='s').dt.strftime('%Y-%m-%d')
frame_date = frame
frame_date
# -------------------

,user_id_for_mai,content_id,subsite_title,timestamp,event_name,date
0,5040403560,83395,xboxOne,1559347747,poster_impression,2019-06-01
1,5040403560,88279,xboxOne,1559347913,poster_impression,2019-06-01
2,5040403236,190669,xboxOne,1559347933,poster_impression,2019-06-01
3,5040403236,170240,xboxOne,1559348020,poster_impression,2019-06-01
4,5040403236,213690,xboxOne,1559348075,poster_impression,2019-06-01
...,...,...,...,...,...,...
1036664,5041526829,133683,Windows 10,1560593357,NaN,2019-06-15
1036665,5068660884,14961,Windows 10,1560611786,NaN,2019-06-15
1036666,5077805061,186864,Windows 10,1560577102,NaN,2019-06-15
1036667,5043813813,313915,Windows 10,1560590342,NaN,2019-06-15
1036668,5041038801,57424,Windows 10,1560631124,NaN,2019-06-15

# Задача 3

Посчитайте конверсию по дням

* в каждый день разделите количество `content_watch` на количество `poster_impression`
* считать отдельно для xboxOne и оттельно для Windows для каждого дня
* если для пары (user_id_for_mai, content_id) был только `content_watch` без `poster_impression` - такие строки из датасета выкинуть и в конверсии не учитывать

In [98]:
# --- ВАШ КОД ТУТ ---

user_content_id = frame_date.groupby(['user_id_for_mai', 'content_id', 'event_name', 'date'])
temp.head()
# event_name_columns = frame['event_name'].value_counts().rename_axis('event_name').reset_index(name='Amount')
# new_frame = frame['date'].value_counts().sort_index(ascending=True).rename_axis('date').reset_index(name='Amount')
# new_frame = frame.groupby('date')
# frame.groupby()
# -------------------

,user_id_for_mai,content_id,subsite_title,timestamp,event_name,date
0,5040403560,83395,xboxOne,1559347747,poster_impression,2019-06-01
1,5040403560,88279,xboxOne,1559347913,poster_impression,2019-06-01
2,5040403236,190669,xboxOne,1559347933,poster_impression,2019-06-01
3,5040403236,170240,xboxOne,1559348020,poster_impression,2019-06-01
4,5040403236,213690,xboxOne,1559348075,poster_impression,2019-06-01
...,...,...,...,...,...,...
1036653,5077805061,14464,Windows 10,1560632894,NaN,2019-06-15
1036654,5070388809,33207,Windows 10,1560571176,NaN,2019-06-15
1036657,5052882459,127422,Windows 10,1560620750,NaN,2019-06-15
1036664,5041526829,133683,Windows 10,1560593357,NaN,2019-06-15
1036667,5043813813,313915,Windows 10,1560590342,NaN,2019-06-15

# Задача 4

постройте гистогамму распределения конверсии на X-box

воспользуйтесь методом hist у Pandas

In [76]:
df = pd.DataFrame([
    ("bird", "Falconiformes", 389.0),
    ("bird", "Psittaciformes", 24.0),
    ("mammal", "Carnivora", 80.2),
    ("mammal", "Primates", ),
    ("mammal", "Carnivora", 58),
],
    index=["falcon", "parrot", "lion", "monkey", "leopard"],
    columns=("class", "order", "max_speed"),
)
grouped = df.groupby("class")
grouped

# Задача 5

Проверьте следующую продуктовую гипотезу: конверсия на Xbox выше, чем конверсия на Windows c с помощью [двухвыборочного теста](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html)